@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Inter', sans-serif;
        background-color: #ffffff;
        scroll-behavior: smooth;
    }
}